@model ErrorViewModel
@{
    var code = ViewBag.code;
    var message = ViewBag.message;
    ViewData["Title"] = code;
}

<!-- Content-->
<div class="content">
    <div class="single-page-decor"></div>
    <div class="single-page-fixed-row">
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll Down</span>
        </div>
        <a href="/" class="single-page-fixed-row-link"><i class="fal fa-arrow-left"></i> <span>Back to home</span></a>
    </div>
    <!-- section-->
    <section class="parallax-section fw-parallax" data-scrollax-parent="true">
        <div class="bg par-elem" data-bg="/images/bg/16.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
        <div class="overlay"></div>
        <div class="container">
            <div class="error-wrap">
                <h2>@code</h2>
                <p>@message</p>
                <div class="clearfix"></div>
                <form action="#">
                    <input name="se" id="se" type="text" class="search" placeholder="Search..">
                    <button class="search-submit color-bg" id="submit_btn"><i class="fa fa-search"></i> </button>
                </form>
                <div class="clearfix"></div>
                <p>Or</p>
                <a href="index.html" class="btn flat-btn color-btn">Back to Home Page</a>
            </div>
        </div>
    </section>
    <!-- section end-->
    <!-- section-->
    <section class="dark-bg2 small-padding order-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Need more information  ? View our Portfolio</h3>
                </div>
                <div class="col-md-4"><a href="contscts.html" class="btn flat-btn color-btn">Our Portfolio</a> </div>
            </div>
        </div>
    </section>
    <!-- section end-->
</div>
<!-- Content end -->

@section Scripts {
    <script>$("#wrapper").addClass("single-page-wrap");</script>
}