@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Blog";
}

<!-- Content-->
<div class="content">
    <!-- section-->
    <section class="parallax-section dark-bg sec-half parallax-sec-half-right" data-scrollax-parent="true">
        <div class="bg par-elem" data-bg="images/bg/27.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
        <div class="overlay"></div>
        <div class="pattern-bg"></div>
        <div class="container">
            <div class="section-title">
                <h2>My  <span> Last news </span> and <br>Updates </h2>
                <p> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                <div class="horizonral-subtitle"><span>Journal</span></div>
            </div>
            <a href="#sec1" class="custom-scroll-link hero-start-link"><span>Let's Start</span> <i class="fal fa-long-arrow-down"></i></a>
        </div>
    </section>
    <!-- section end-->
    <div class="single-page-decor"></div>
    <!-- single-page-fixed-row-->
    <div class="single-page-fixed-row blog-single-page-fixed-row">
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll Down</span>
        </div>
        <!-- filter  -->
        <div class="blog-filters">
            <span>Filter by: </span>
            <!-- filter tag   -->
            <div class="tag-filter blog-btn-filter">
                <div class="blog-btn">Tags <i class="fa fa-tags" aria-hidden="true"></i></div>
                <ul>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">People</a></li>
                    <li><a href="#">Nature</a></li>
                    <li><a href="#">Comercial</a></li>
                    <li><a href="#">Travel</a></li>
                </ul>
            </div>
            <!-- filter tag end  -->
            <!-- filter category    -->
            <div class="category-filter blog-btn-filter">
                <div class="blog-btn">Categories <i class="fa fa-list-ul" aria-hidden="true"></i></div>
                <ul>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">People</a></li>
                    <li><a href="#">Nature</a></li>
                    <li><a href="#">Comercial</a></li>
                    <li><a href="#">Travel</a></li>
                </ul>
            </div>
            <!-- filter category end  -->
            <div class="blog-search">
                <form action="#" class="searh-inner fl-wrap">
                    <input name="se" id="se" type="text" class="search" placeholder="Search.." />
                    <button class="search-submit color-bg" id="submit_btn"><i class="fa fa-search"></i> </button>
                </form>
            </div>
        </div>
        <!-- filter end    -->
    </div>
    <!-- single-page-fixed-row end-->
    <!-- section -->
    <section data-scrollax-parent="true" id="sec1">
        <div class="section-subtitle left-pos" data-scrollax="properties: { translateY: '-250px' }"><span>//</span>Journal</div>
        <div class="container">
            <!-- blog-container  -->
            <div class="fl-wrap post-container">
                <div class="row">
                    <div class="col-md-8">
                        <!-- post -->
                        <div class="post fl-wrap fw-post">
                            <h2><a href="blog-single.html"><span>Blog post title</span></a></h2>
                            <div class="parallax-header"> <a href="#">27 may 2018</a><span>Category : </span><a href="#">Branding</a> <a href="#">Video</a> </div>
                            <!-- blog media -->
                            <div class="blog-media fl-wrap nomar-bottom">
                                <div class="single-slider-wrap slider-carousel-wrap ">
                                    <div class="single-slider cur_carousel-slider-container fl-wrap">
                                        <div class="slick-slide-item"><img src="images/folio/2.jpg" alt=""></div>
                                        <div class="slick-slide-item"><img src="images/folio/9.jpg" alt=""></div>
                                        <div class="slick-slide-item"><img src="images/folio/8.jpg" alt=""></div>
                                    </div>
                                    <div class="sp-cont   sp-cont-prev"><i class="fal fa-long-arrow-left"></i></div>
                                    <div class="sp-cont   sp-cont-next"><i class="fal fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                            <!-- blog media end -->
                            <div class="parallax-header fl-wrap"><span>Tags : </span><a href="#">Branding</a> <a href="#">Video</a>  <a href="#">Design</a></div>
                            <div class="blog-text fl-wrap">
                                <div class="clearfix"></div>
                                <h3><a href="blog-single.html">Aliquip pertinax <strong>vix ad </strong></a></h3>
                                <p>
                                    Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Praesent eu massa vel diam laoreet elementum ac sed felis. Donec suscipit ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor sed dolor placerat ornare ut . Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae..
                                </p>
                                <a href="blog-single.html" class="btn float-btn color-btn flat-btn">Read more </a>
                                <ul class="post-counter">
                                    <li><i class="fa fa-eye"></i><span>687</span></li>
                                    <li><i class="fal fa-comments-alt"></i><span>10</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- post end-->
                        <!-- post -->
                        <div class="post fl-wrap fw-post">
                            <h2><a href="blog-single.html"><span>Blog post title</span></a></h2>
                            <div class="parallax-header"> <a href="#">27 may 2018</a><span>Category : </span><a href="#">Branding</a> <a href="#">Video</a> </div>
                            <!-- blog media -->
                            <div class="blog-media fl-wrap">
                                <img src="images/folio/24.jpg" alt="">
                            </div>
                            <!-- blog media end -->
                            <div class="parallax-header fl-wrap"><span>Tags : </span><a href="#">Branding</a> <a href="#">Video</a>  <a href="#">Design</a></div>
                            <div class="blog-text fl-wrap">
                                <div class="clearfix"></div>
                                <h3><a href="blog-single.html">Aliquip pertinax <strong>vix ad </strong></a></h3>
                                <p>
                                    Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Praesent eu massa vel diam laoreet elementum ac sed felis. Donec suscipit ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor sed dolor placerat ornare ut . Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae..
                                </p>
                                <a href="blog-single.html" class="btn float-btn color-btn flat-btn">Read more </a>
                                <ul class="post-counter">
                                    <li><i class="fa fa-eye"></i><span>687</span></li>
                                    <li><i class="fal fa-comments-alt"></i><span>10</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- post end-->
                        <!-- post -->
                        <div class="post fl-wrap fw-post">
                            <h2><a href="blog-single.html"><span>Blog post title</span></a></h2>
                            <div class="parallax-header"> <a href="#">27 may 2018</a><span>Category : </span><a href="#">Branding</a> <a href="#">Video</a> </div>
                            <!-- blog media -->
                            <div class="blog-media fl-wrap">
                                <img src="images/folio/16.jpg" alt="">
                            </div>
                            <!-- blog media end -->
                            <div class="parallax-header fl-wrap"><span>Tags : </span><a href="#">Branding</a> <a href="#">Video</a>  <a href="#">Design</a></div>
                            <div class="blog-text fl-wrap">
                                <div class="clearfix"></div>
                                <h3><a href="blog-single.html">Aliquip pertinax <strong>vix ad </strong></a></h3>
                                <p>
                                    Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Praesent eu massa vel diam laoreet elementum ac sed felis. Donec suscipit ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. Sed viverra dolor sed dolor placerat ornare ut . Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae..
                                </p>
                                <a href="blog-single.html" class="btn float-btn color-btn flat-btn">Read more </a>
                                <ul class="post-counter">
                                    <li><i class="fa fa-eye"></i><span>687</span></li>
                                    <li><i class="fal fa-comments-alt"></i><span>10</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- post end-->
                    </div>
                    <!-- blog-sidebar  -->
                    <div class="col-md-4">
                        <div class="blog-sidebar fl-wrap fixed-bar">
                            <!-- widget-wrap -->
                            <div class="widget-wrap fl-wrap">
                                <h4 class="widget-title"><span>01.</span> About Author</h4>
                                <div class="widget-container fl-wrap">
                                    <div class="about-widget fl-wrap">
                                        <img src="images/avatar/7.jpg" alt="">
                                        <h5><a href="#">Martin Solonick</a></h5>
                                        <div class="clearfix"></div>
                                        <p>Etiam in nulla arcu, ut vehicula velit. Vivamus dapibus rutrum mi ut aliquam. In hac habitasse platea dictumst. Integer sagittis neque a tortor tempor in porta sem vulputate.</p>
                                        <div class="about-widget-social fl-wrap">
                                            <span>Find on : </span>
                                            <ul>
                                                <li><a href="#" target="_blank">Facebook</a></li>
                                                <li><a href="#" target="_blank">Instagram</a></li>
                                                <li><a href="#" target="_blank">Twitter</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- widget-wrap end  -->
                            <!-- widget-wrap -->
                            <div class="widget-wrap fl-wrap">
                                <h4 class="widget-title"><span>02.</span> Last Posts</h4>
                                <div class="widget-container fl-wrap">
                                    <div class="widget-posts fl-wrap">
                                        <ul>
                                            <li class="clearfix">
                                                <a href="#" class="widget-posts-img"><img src="images/folio/1.jpg" class="respimg" alt=""></a>
                                                <div class="widget-posts-descr">
                                                    <a href="#" title="">Vivamus dapibus rutrum</a>
                                                    <span class="widget-posts-date"> 21 Mar 09.05 </span>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <a href="#" class="widget-posts-img"><img src="images/folio/2.jpg" class="respimg" alt=""></a>
                                                <div class="widget-posts-descr">
                                                    <a href="#" title=""> In hac habitasse platea</a>
                                                    <span class="widget-posts-date"> 7 Mar 18.21 </span>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <a href="#" class="widget-posts-img"><img src="images/folio/4.jpg" class="respimg" alt=""></a>
                                                <div class="widget-posts-descr">
                                                    <a href="#" title="">Tortor tempor in porta</a>
                                                    <span class="widget-posts-date"> 7 Mar 16.42 </span>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <a href="#" class="widget-posts-img"><img src="images/folio/5.jpg" class="respimg" alt=""></a>
                                                <div class="widget-posts-descr">
                                                    <a href="#" title="">Praesent aliquet tortor</a>
                                                    <span class="widget-posts-date"> 2 Mar 14.42 </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- widget-wrap end  -->
                            <!-- widget-wrap -->
                            <div class="widget-wrap fl-wrap">
                                <h4 class="widget-title"><span>03.</span> Tags</h4>
                                <div class="widget-container fl-wrap">
                                    <ul class="tagcloud">
                                        <li><a href='#' class="transition link">Portfolio</a></li>
                                        <li><a href='#' class="transition link">Tag</a></li>
                                        <li><a href='#' class="transition link">Demo</a></li>
                                        <li><a href='#' class="transition link">Blog</a></li>
                                        <li><a href='#' class="transition link">Photography</a></li>
                                        <li><a href='#' class="transition link">Web desighn</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- widget-wrap end  -->
                            <!-- widget-wrap -->
                            <div class="widget-wrap fl-wrap">
                                <h4 class="widget-title"><span>04.</span>Our Instagram</h4>
                                <div class="widget-container fl-wrap">
                                    <div class='jr-insta-thumb' id="insta-content" data-instatoken="3980752.1677ed0.62bb6a2ad3ef4dc0a6aad768ab8939ab">
                                    </div>
                                </div>
                            </div>
                            <!-- widget-wrap end  -->
                            <!-- widget-wrap -->
                            <div class="widget-wrap fl-wrap">
                                <h4 class="widget-title"><span>05.</span> Categories</h4>
                                <div class="widget-container fl-wrap">
                                    <ul class="cat-item">
                                        <li><a href="#">Standard</a> <span>(3)</span></li>
                                        <li><a href="#">Video</a> <span>(6) </span></li>
                                        <li><a href="#">Gallery</a> <span>(12) </span></li>
                                        <li><a href="#">Quotes</a> <span>(4)</span></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- widget-wrap end  -->
                        </div>
                    </div>
                    <!-- blog-sidebar end -->
                    <div class="limit-box fl-wrap"></div>
                </div>
                <!-- content-nav -->
                <div class="content-nav">
                    <ul>
                        <li><a href="blog.html" class="ln"><i class="fal fa-arrow-left"></i><span class="tooltip">Prev - page 1</span></a></li>
                        <li>
                            <span class="cur-page"><span>Page 2</span></span>
                        </li>
                        <li><a href="blog.html" class="rn"><i class="fal fa-arrow-right"></i><span class="tooltip">Next - page 2 </span></a></li>
                    </ul>
                </div>
                <!-- content-nav end-->
            </div>
            <!-- blog-container end    -->
        </div>
        <div class="bg-parallax-module" data-position-top="50" data-position-left="20" data-scrollax="properties: { translateY: '-250px' }"></div>
        <div class="bg-parallax-module" data-position-top="40" data-position-left="70" data-scrollax="properties: { translateY: '150px' }"></div>
        <div class="bg-parallax-module" data-position-top="80" data-position-left="80" data-scrollax="properties: { translateY: '350px' }"></div>
        <div class="bg-parallax-module" data-position-top="95" data-position-left="40" data-scrollax="properties: { translateY: '-550px' }"></div>
        <div class="sec-lines"></div>
    </section>
    <!-- section end-->
    <!-- section-->
    <section class="dark-bg2 small-padding order-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Ready To order Your Project ?</h3>
                </div>
                <div class="col-md-4"><a href="contscts.html" class="btn flat-btn color-btn">Get In Touch</a> </div>
            </div>
        </div>
    </section>
    <!-- section end-->
</div>
<!-- Content end -->

@section Scripts {
    <script>$("#wrapper").addClass("single-page-wrap");</script>
}