
@{
    ViewData["Title"] = "Music";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content-->
<div class="content">
    <div class="single-page-decor"></div>
    <div class="single-page-fixed-row">
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll Down</span>
        </div>
        <a href="index.html" class="single-page-fixed-row-link"><i class="fal fa-arrow-left"></i> <span>Back to home</span></a>
    </div>
    <!-- section-->
    <section class="parallax-section dark-bg sec-half parallax-sec-half-right" data-scrollax-parent="true">
        <div class="bg par-elem" data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
        <div class="overlay"></div>
        <div class="pattern-bg"></div>
        <div class="container">
            <div class="section-title">
                <h2>My <span>realized</span> albums  <br> and singles</h2>
                <p> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                <div class="horizonral-subtitle"><span>Albums</span></div>
            </div>
            <a href="#sec1" class="custom-scroll-link hero-start-link"><span>Let's Start</span> <i class="fal fa-long-arrow-down"></i></a>
        </div>
    </section>
    <!-- section end-->
    <!-- section -->
    <section data-scrollax-parent="true" id="sec1">
        <div class="section-subtitle" data-scrollax="properties: { translateY: '150px' }">Portfolio<span>//</span></div>
        <div class="container">
            <!-- filter -->
            <div class="filter-holder inline-filter fl-wrap  mar-bottom">
                <div class="filter-button"><i class="fal fa-filter"></i> <span>Filter : </span></div>
                <div class="gallery-filters">
                    <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*">All</a>
                    <a href="#" class="gallery-filter" data-filter=".debstep">Debstep</a>
                    <a href="#" class="gallery-filter" data-filter=".electro">Electro</a>
                    <a href="#" class="gallery-filter" data-filter=".chillout">chillout</a>
                </div>
                <div class="folio-counter">
                    <div class="num-album"></div>
                    <div class="all-album"></div>
                </div>
            </div>
            <!-- filter end-->
            <!-- portfolio start -->
            <div class="gallery-items spad    three-column">
                <!-- gallery-item-->
                <div class="gallery-item electro chillout">
                    <div class="grid-item-holder">
                        <img src="images/cover/1.jpg" alt="">
                        <div class="album-preview color-bg" data-audiopath="audio/1.mp3"><i class="fal fa-play"></i></div>
                        <div class="album-cover-title">
                            <h3><a href="portfolio-single9.html">Album Title</a></h3>
                        </div>
                        <div class="album-cover-datils">
                            <ul>
                                <li><i class="fal fa-sort-numeric-down"></i><span>Tracks : 7</span></li>
                                <li><i class="fal fa-music"></i><span>Dubstep</span></li>
                                <li><a href="#"><i class="fal fa-shopping-cart"></i></a><span>Buy</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- gallery-item end-->
                <!-- gallery-item-->
                <div class="gallery-item   debstep">
                    <div class="grid-item-holder">
                        <img src="images/cover/1.jpg" alt="">
                        <div class="album-preview color-bg" data-audiopath="audio/1.mp3"><i class="fal fa-play"></i></div>
                        <div class="album-cover-title">
                            <h3><a href="portfolio-single9.html">Album Title</a></h3>
                        </div>
                        <div class="album-cover-datils">
                            <ul>
                                <li><i class="fal fa-sort-numeric-down"></i><span>Tracks : 17</span></li>
                                <li><i class="fal fa-music"></i><span>Dubstep</span></li>
                                <li><a href="#"><i class="fal fa-shopping-cart"></i></a><span>Buy</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- gallery-item end-->
                <!-- gallery-item-->
                <div class="gallery-item debstep electro">
                    <div class="grid-item-holder">
                        <img src="images/cover/1.jpg" alt="">
                        <div class="album-preview color-bg" data-audiopath="audio/1.mp3"><i class="fal fa-play"></i></div>
                        <div class="album-cover-title">
                            <h3><a href="portfolio-single9.html">Album Title</a></h3>
                        </div>
                        <div class="album-cover-datils">
                            <ul>
                                <li><i class="fal fa-sort-numeric-down"></i><span>Tracks : 23</span></li>
                                <li><i class="fal fa-music"></i><span>Dubstep</span></li>
                                <li><a href="#"><i class="fal fa-shopping-cart"></i></a><span>Buy</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- gallery-item end-->
                <!-- gallery-item-->
                <div class="gallery-item electro">
                    <div class="grid-item-holder">
                        <img src="images/cover/1.jpg" alt="">
                        <div class="album-preview color-bg" data-audiopath="audio/1.mp3"><i class="fal fa-play"></i></div>
                        <div class="album-cover-title">
                            <h3><a href="portfolio-single9.html">Album Title</a></h3>
                        </div>
                        <div class="album-cover-datils">
                            <ul>
                                <li><i class="fal fa-sort-numeric-down"></i><span>Tracks : 22</span></li>
                                <li><i class="fal fa-music"></i><span>Dubstep</span></li>
                                <li><a href="#"><i class="fal fa-shopping-cart"></i></a><span>Buy</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- gallery-item end-->
                <!-- gallery-item-->
                <div class="gallery-item chillout">
                    <div class="grid-item-holder">
                        <img src="images/cover/1.jpg" alt="">
                        <div class="album-preview color-bg" data-audiopath="audio/1.mp3"><i class="fal fa-play"></i></div>
                        <div class="album-cover-title">
                            <h3><a href="portfolio-single9.html">Album Title</a></h3>
                        </div>
                        <div class="album-cover-datils">
                            <ul>
                                <li><i class="fal fa-sort-numeric-down"></i><span>Tracks : 12</span></li>
                                <li><i class="fal fa-music"></i><span>Dubstep</span></li>
                                <li><a href="#"><i class="fal fa-shopping-cart"></i></a><span>Buy</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- gallery-item end-->
                <!-- gallery-item-->
                <div class="gallery-item chillout debstep">
                    <div class="grid-item-holder">
                        <img src="images/cover/1.jpg" alt="">
                        <div class="album-preview color-bg" data-audiopath="audio/1.mp3"><i class="fal fa-play"></i></div>
                        <div class="album-cover-title">
                            <h3><a href="portfolio-single9.html">Album Title</a></h3>
                        </div>
                        <div class="album-cover-datils">
                            <ul>
                                <li><i class="fal fa-sort-numeric-down"></i><span>Tracks : 11</span></li>
                                <li><i class="fal fa-music"></i><span>Dubstep</span></li>
                                <li><a href="#"><i class="fal fa-shopping-cart"></i></a><span>Buy</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- gallery-item end-->
            </div>
            <!-- portfolio end -->
            <!-- preview-sound-->
            <audio id="preview-sound" src="/"></audio>
            <!-- preview-sound end-->
        </div>
        <div class="sec-lines"></div>
    </section>
    <!-- section-->
    <section class="dark-bg2 small-padding order-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Ready To order Your Project ?</h3>
                </div>
                <div class="col-md-4"><a href="contscts.html" class="btn flat-btn color-btn">Get In Touch</a> </div>
            </div>
        </div>
    </section>
    <!-- section end-->
</div>
<!-- Content end -->

@section Scripts {
    <script>$("#wrapper").addClass("single-page-wrap");</script>
}