
@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content-->
<div class="content">
    <div class="single-page-decor"></div>
    <div class="single-page-fixed-row">
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll Down</span>
        </div>
        <a href="index.html" class="single-page-fixed-row-link"><i class="fal fa-arrow-left"></i> <span>Back to home</span></a>
    </div>
    <!-- section  -->
    <section data-scrollax-parent="true" class="dark-bg">
        <div class="section-subtitle" data-scrollax="properties: { translateY: '150px' }">Portfolio<span>//</span></div>
        <div class="container">
            <!--parallax-item -->
            <div class="parallax-item fl-wrap" data-scrollax-parent="true">
                <div class="row">
                    <div class="col-md-7">
                        <div class="parallax-header"><span>Category : </span><a href="#">Branding</a>   <a href="#">Video</a></div>
                        <img src="images/folio/3.jpg" alt="">
                    </div>
                    <div class="parallax-text right-pos" data-scrollax="properties: { translateY: '-250px' }">
                        <h3><a href="portfolio-single.html">Theatre de Stoep</a></h3>
                        <h4><span>There are many variations of passages of Lorem Ipsum</span></h4>
                        <a href="portfolio-single.html" class="btn float-btn flat-btn color-btn">View project</a>
                    </div>
                    <div class="album-thumbnails">
                        <div data-position-left2="65" data-position-top2="-5" data-scrollax="properties: { translateY: '-150px' }"><img src="images/folio/2.jpg" alt="" class="respimg"></div>
                        <div data-position-left2="80" data-position-top2="50" data-scrollax="properties: { translateY: '-350px' }">
                            <video autoplay loop muted class="bgvid">
                                <source src="video/1.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
                <div class="parallax-item-number rg-num">.01</div>
            </div>
            <!--parallax-item end-->
            <div class="paralax-sec-separator fl-wrap"></div>
            <!--parallax-item -->
            <div class="parallax-item fl-wrap" data-scrollax-parent="true">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <div class="parallax-header right-parallax-header"><span>Category : </span><a href="#">Branding</a>   <a href="#">Video</a></div>
                        <img src="images/folio/7.jpg" alt="">
                    </div>
                    <div class="parallax-text left-pos" data-scrollax="properties: { translateY: '-250px' }">
                        <h3><a href="portfolio-single.html">Theatre de Stoep</a></h3>
                        <h4><span>There are many variations of passages of Lorem Ipsum</span></h4>
                        <a href="portfolio-single.html" class="btn float-btn flat-btn color-btn">View project</a>
                    </div>
                    <div class="album-thumbnails">
                        <div data-position-left2="0" data-position-top2="0" data-scrollax="properties: { translateY: '-150px' }"><img src="images/folio/13.jpg" alt="" class="respimg"></div>
                        <div data-position-left2="25" data-position-top2="60" data-scrollax="properties: { translateY: '-50px' }"><img src="images/folio/14.jpg" alt="" class="respimg"></div>
                    </div>
                </div>
                <div class="parallax-item-number lf-num">02.</div>
            </div>
            <!--parallax-item end-->
            <div class="paralax-sec-separator fl-wrap"></div>
            <!--parallax-item -->
            <div class="parallax-item fl-wrap" data-scrollax-parent="true">
                <div class="row">
                    <div class="col-md-7">
                        <div class="parallax-header"><span>Category : </span><a href="#">Branding</a>   <a href="#">Video</a></div>
                        <img src="images/folio/25.jpg" alt="">
                    </div>
                    <div class="parallax-text right-pos" data-scrollax="properties: { translateY: '-250px' }">
                        <h3><a href="portfolio-single.html">Theatre de Stoep</a></h3>
                        <h4><span>There are many variations of passages of Lorem Ipsum</span></h4>
                        <a href="portfolio-single.html" class="btn float-btn flat-btn color-btn">View project</a>
                    </div>
                    <div class="album-thumbnails">
                        <div data-position-left2="65" data-position-top2="0" data-scrollax="properties: { translateY: '-150px' }"><img src="images/folio/11.jpg" alt="" class="respimg"></div>
                        <div data-position-left2="80" data-position-top2="50" data-scrollax="properties: { translateY: '-350px' }"><img src="images/folio/8.jpg" alt="" class="respimg"></div>
                    </div>
                </div>
                <div class="parallax-item-number rg-num">.03</div>
            </div>
            <!--parallax-item end-->
            <div class="paralax-sec-separator fl-wrap"></div>
            <!--parallax-item -->
            <div class="parallax-item fl-wrap" data-scrollax-parent="true">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <div class="parallax-header right-parallax-header"><span>Category : </span><a href="#">Branding</a>   <a href="#">Video</a></div>
                        <img src="images/folio/24.jpg" alt="">
                    </div>
                    <div class="parallax-text left-pos" data-scrollax="properties: { translateY: '-250px' }">
                        <h3><a href="portfolio-single.html">Theatre de Stoep</a></h3>
                        <h4><span>There are many variations of passages of Lorem Ipsum</span></h4>
                        <a href="portfolio-single.html" class="btn float-btn flat-btn color-btn">View project</a>
                    </div>
                    <div class="album-thumbnails">
                        <div data-position-left2="2" data-position-top2="15" data-scrollax="properties: { translateY: '-50px' }"><img src="images/folio/6.jpg" alt="" class="respimg"></div>
                        <div data-position-left2="28" data-position-top2="90" data-scrollax="properties: { translateY: '-150px' }"><img src="images/folio/15.jpg" alt="" class="respimg"></div>
                    </div>
                </div>
                <div class="parallax-item-number lf-num">04.</div>
            </div>
            <!--parallax-item end-->
            <div class="content-nav mar-top">
                <ul>
                    <li><a href="portfoli5.html" class="ln"><i class="fal fa-arrow-left"></i><span class="tooltip">Prev - Page 1</span></a></li>
                    <li>
                        <a href="#" class="cur-page"><span>Page 02. </span></a>
                    </li>
                    <li><a href="portfoli5.html" class="rn"><i class="fal fa-arrow-right"></i><span class="tooltip">Next - Page 3 </span></a></li>
                </ul>
            </div>
        </div>
        <div class="sec-lines"></div>
    </section>
    <!-- section-->
    <section class="dark-bg2 small-padding order-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Ready To order Your Project ?</h3>
                </div>
                <div class="col-md-4"><a href="contscts.html" class="btn flat-btn color-btn">Get In Touch</a> </div>
            </div>
        </div>
    </section>
    <!-- section end-->
</div>
<!-- Content end -->

@section Scripts {
    <script>$("#wrapper").addClass("single-page-wrap");</script>
}