
@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content-->
<div class="content">
    <div class="single-page-decor"></div>
    <div class="single-page-fixed-row">
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll Down</span>
        </div>
        <a href="/" class="single-page-fixed-row-link"><i class="fal fa-arrow-left"></i> <span>Back to home</span></a>
    </div>
    <!-- section-->
    <section class="dark-bg no-padding">
        <div class="hidden-info-wrap-bg">
            <div class="bg-ser">
            </div>
            <div class="overlay"></div>
        </div>
        <!--   hidden-info-wrap -->
        <div class="hidden-info-wrap">
            <div class="hidden-info fl-wrap">
                <div class="hidden-info-title">My Services</div>
                <div class="hidden-works-list fl-wrap">
                    <!--   hidden-works-item -->
                    <div class="hidden-works-item  serv-works-item fl-wrap" data-bgscr="images/bg/long/2.jpg">
                        <div class="hidden-works-item-text">
                            <h3>Web Design</h3>
                            <ul class="fl-wrap">
                                <li><a href="#">Concept</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">3D Modeling</a></li>
                            </ul>
                            <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor. A ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida.</p>
                            <div class="clearfix"></div>
                            <div class="serv-price">150$-300$</div>
                            <span class="serv-number">01.</span>
                            <div class="serv-icon"><i class="fal fa-desktop"></i></div>
                        </div>
                    </div>
                    <!--   hidden-works-item end -->
                    <!--   hidden-works-item -->
                    <div class="hidden-works-item  serv-works-item fl-wrap" data-bgscr="images/bg/long/1.jpg">
                        <div class="hidden-works-item-text">
                            <h3>Ui/Ux Design</h3>
                            <ul class="fl-wrap">
                                <li><a href="#">Concept</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">3D Modeling</a></li>
                            </ul>
                            <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor. A ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida.</p>
                            <div class="clearfix"></div>
                            <div class="serv-price">150$-300$</div>
                            <span class="serv-number">02.</span>
                            <div class="serv-icon"><i class="fal fa-mobile-android"></i></div>
                        </div>
                    </div>
                    <!--   hidden-works-item end -->
                    <!--   hidden-works-item -->
                    <div class="hidden-works-item  serv-works-item fl-wrap" data-bgscr="images/bg/long/3.jpg">
                        <div class="hidden-works-item-text">
                            <h3>Branding</h3>
                            <ul class="fl-wrap">
                                <li><a href="#">Concept</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">3D Modeling</a></li>
                            </ul>
                            <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor. A ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida.</p>
                            <div class="clearfix"></div>
                            <div class="serv-price">150$-300$</div>
                            <span class="serv-number">03.</span>
                            <div class="serv-icon"><i class="fab fa-pagelines"></i></div>
                        </div>
                    </div>
                    <!--   hidden-works-item end -->
                    <!--   hidden-works-item -->
                    <div class="hidden-works-item  serv-works-item fl-wrap" data-bgscr="images/bg/long/4.jpg">
                        <div class="hidden-works-item-text">
                            <h3>Ecommerce</h3>
                            <ul class="fl-wrap">
                                <li><a href="#">Concept</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">3D Modeling</a></li>
                            </ul>
                            <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor. A ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida.</p>
                            <div class="clearfix"></div>
                            <div class="serv-price">150$-300$</div>
                            <span class="serv-number">04.</span>
                            <div class="serv-icon"><i class="fal fa-shopping-bag"></i></div>
                        </div>
                    </div>
                    <!--   hidden-works-item end -->
                </div>
            </div>
        </div>
        <!-- hidden-info-wrap end -->
        <div class="fl-wrap limit-box"></div>
    </section>
    <!-- section end-->
    <!-- section-->
    <section class="dark-bg2 small-padding order-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Ready To order Your Project ?</h3>
                </div>
                <div class="col-md-4"><a href="contscts.html" class="btn flat-btn color-btn">Get In Touch</a> </div>
            </div>
        </div>
    </section>
    <!-- section end-->
</div>
<!-- Content end -->

@section Scripts {
    <script>$("#wrapper").addClass("single-page-wrap");</script>
}