
@{
    ViewData["Title"] = "Showcase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content-->
<div class="content">
    <div class="single-page-decor"></div>
    <!-- filter-->
    <div class="fsp-filter">
        <div class="filter-title"><i class="fal fa-filter"></i><span>Portfolio Filter</span></div>
        <div class="gallery-filters">
            <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*">All</a>
            <a href="#" class="gallery-filter" data-filter=".web">Web Design</a>
            <a href="#" class="gallery-filter" data-filter=".photography">Photo</a>
            <a href="#" class="gallery-filter" data-filter=".branding">Branding</a>
            <a href="#" class="gallery-filter" data-filter=".uides">Ui Design</a>
        </div>
        <div class="folio-counter">
            <div class="num-album"></div>
            <div class="all-album"></div>
        </div>
    </div>
    <!-- filter end -->
    <!-- section-->
    <section class="no-padding dark-bg">
        <!-- portfolio start -->
        <div class="gallery-items min-pad hde four-column">
            <!-- gallery-item-->
            <div class="gallery-item web branding">
                <div class="grid-item-holder">
                    <a href="images/folio/1.jpg" class="fet_pr-carousel-box-media-zoom   image-popup"><i class="fal fa-search"></i></a>
                    <img src="images/folio/1.jpg" alt="">
                    <div class="box-item hd-box">
                        <div class=" fl-wrap full-height">
                            <div class="hd-box-wrap">
                                <h2><a href="portfolio-single.html">Kent Brant Concept</a></h2>
                                <p><a href="#">Design  </a> <a href="#"> Branding</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item photography">
                <div class="grid-item-holder">
                    <a href="images/folio/2.jpg" class="fet_pr-carousel-box-media-zoom   image-popup"><i class="fal fa-search"></i></a>
                    <img src="images/folio/2.jpg" alt="">
                    <div class="box-item hd-box">
                        <div class=" fl-wrap full-height">
                            <div class="hd-box-wrap">
                                <h2><a href="portfolio-single.html">Old Cars on Street</a></h2>
                                <p><a href="#"> Photography  </a> <a href="#"> Development</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item branding gallery-item-second">
                <div class="grid-item-holder">
                    <a href="images/folio/3.jpg" class="fet_pr-carousel-box-media-zoom   image-popup"><i class="fal fa-search"></i></a>
                    <img src="images/folio/3.jpg" alt="">
                    <div class="box-item hd-box">
                        <div class=" fl-wrap full-height">
                            <div class="hd-box-wrap">
                                <h2><a href="portfolio-single.html">Mobile ui Interface</a></h2>
                                <p><a href="#">Development </a>  <a href="#"> Branding</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item web">
                <div class="grid-item-holder">
                    <a href="https://vimeo.com/115735583" class="fet_pr-carousel-box-media-zoom   image-popup"><i class="fal fa-play"></i></a>
                    <img src="images/folio/13.jpg" alt="">
                    <div class="box-item hd-box">
                        <div class=" fl-wrap full-height">
                            <div class="hd-box-wrap">
                                <h2><a href="portfolio-single.html">Video Project</a></h2>
                                <p><a href="#">Video  </a> <a href="#"> Branding</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item web branding ">
                <div class="grid-item-holder">
                    <a href="images/folio/5.jpg" class="fet_pr-carousel-box-media-zoom   image-popup"><i class="fal fa-search"></i></a>
                    <img src="images/folio/5.jpg" alt="">
                    <div class="box-item hd-box">
                        <div class=" fl-wrap full-height">
                            <div class="hd-box-wrap">
                                <h2><a href="portfolio-single.html">Barbershop Website</a></h2>
                                <p><a href="#">Photography  </a> <a href="#"> Web </a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item uides ">
                <div class="grid-item-holder">
                    <a href="images/folio/6.jpg" class="fet_pr-carousel-box-media-zoom   image-popup"><i class="fal fa-search"></i></a>
                    <img src="images/folio/6.jpg" alt="">
                    <div class="box-item hd-box">
                        <div class=" fl-wrap full-height">
                            <div class="hd-box-wrap">
                                <h2><a href="portfolio-single.html">Man in Old Town</a></h2>
                                <p><a href="#">Photography  </a> <a href="#"> Ui</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item branding photography ">
                <div class="grid-item-holder">
                    <a href="https://www.youtube.com/watch?v=Hg5iNVSp2z8" class="fet_pr-carousel-box-media-zoom   image-popup"><i class="fal fa-play"></i></a>
                    <img src="images/folio/9.jpg" alt="">
                    <div class="box-item hd-box">
                        <div class=" fl-wrap full-height">
                            <div class="hd-box-wrap">
                                <h2><a href="portfolio-single.html">Youtube Video Project</a></h2>
                                <p><a href="#">Video  </a><a href="#"> Web design</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item uides web">
                <div class="grid-item-holder">
                    <a href="images/folio/8.jpg" class="fet_pr-carousel-box-media-zoom   image-popup"><i class="fal fa-search"></i></a>
                    <img src="images/folio/8.jpg" alt="">
                    <div class="box-item hd-box">
                        <div class=" fl-wrap full-height">
                            <div class="hd-box-wrap">
                                <h2><a href="portfolio-single.html">Mobile ui Interface</a></h2>
                                <p><a href="#">Development  </a> <a href="#">Ui</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item uides photography">
                <div class="grid-item-holder">
                    <a href="https://vimeo.com/6698875" class="fet_pr-carousel-box-media-zoom   image-popup"><i class="fal fa-play"></i></a>
                    <img src="images/folio/12.jpg" alt="">
                    <div class="box-item hd-box">
                        <div class=" fl-wrap full-height">
                            <div class="hd-box-wrap">
                                <h2><a href="portfolio-single.html">Project Vimeo</a></h2>
                                <p><a href="#">Development  </a>  <a href="#"> Video</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item web ">
                <div class="grid-item-holder">
                    <a href="images/folio/11.jpg" class="fet_pr-carousel-box-media-zoom   image-popup"><i class="fal fa-search"></i></a>
                    <img src="images/folio/11.jpg" alt="">
                    <div class="box-item hd-box">
                        <div class=" fl-wrap full-height">
                            <div class="hd-box-wrap">
                                <h2><a href="portfolio-single.html">Architecture Agensy</a></h2>
                                <p><a href="#">Development   </a> <a href="#"> Wed Design</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item web photography">
                <div class="grid-item-holder">
                    <a href="images/folio/7.jpg" class="fet_pr-carousel-box-media-zoom   image-popup"><i class="fal fa-search"></i></a>
                    <img src="images/folio/7.jpg" alt="">
                    <div class="box-item hd-box">
                        <div class=" fl-wrap full-height">
                            <div class="hd-box-wrap">
                                <h2><a href="portfolio-single.html">Corporate website</a></h2>
                                <p><a href="#">Development   </a>  <a href="#"> Wed Design</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item web uides">
                <div class="grid-item-holder">
                    <a href="images/folio/10.jpg" class="fet_pr-carousel-box-media-zoom   image-popup"><i class="fal fa-search"></i></a>
                    <img src="images/folio/10.jpg" alt="">
                    <div class="box-item hd-box">
                        <div class=" fl-wrap full-height">
                            <div class="hd-box-wrap">
                                <h2><a href="portfolio-single.html">Personal website</a></h2>
                                <p><a href="#">Development   </a>  <a href="#"> Wed Design</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item photography">
                <div class="grid-item-holder">
                    <a href="images/folio/14.jpg" class="fet_pr-carousel-box-media-zoom   image-popup"><i class="fal fa-search"></i></a>
                    <img src="images/folio/14.jpg" alt="">
                    <div class="box-item hd-box">
                        <div class=" fl-wrap full-height">
                            <div class="hd-box-wrap">
                                <h2><a href="portfolio-single.html">Corporate website</a></h2>
                                <p><a href="#">Development   </a> <a href="#"> Wed Design</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item branding uides">
                <div class="grid-item-holder">
                    <a href="images/folio/16.jpg" class="fet_pr-carousel-box-media-zoom   image-popup"><i class="fal fa-search"></i></a>
                    <img src="images/folio/16.jpg" alt="">
                    <div class="box-item hd-box">
                        <div class=" fl-wrap full-height">
                            <div class="hd-box-wrap">
                                <h2><a href="portfolio-single.html">Personal portfolio</a></h2>
                                <p><a href="#">Development   </a>  <a href="#"> Wed Design</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item uides">
                <div class="grid-item-holder">
                    <a href="images/folio/17.jpg" class="fet_pr-carousel-box-media-zoom   image-popup"><i class="fal fa-search"></i></a>
                    <img src="images/folio/17.jpg" alt="">
                    <div class="box-item hd-box">
                        <div class=" fl-wrap full-height">
                            <div class="hd-box-wrap">
                                <h2><a href="portfolio-single.html">Fasion website</a></h2>
                                <p><a href="#">Development   </a>  <a href="#"> Wed Design</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
        </div>
        <!-- portfolio end -->
    </section>
    <!-- section end-->
    <!-- section-->
    <section class="dark-bg2 small-padding order-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Ready To order Your Project ?</h3>
                </div>
                <div class="col-md-4"><a href="/contact" class="btn flat-btn color-btn">Get In Touch</a> </div>
            </div>
        </div>
    </section>
    <!-- section end-->
</div>
<!-- Content end -->

@section Scripts {
    <script>$("#wrapper").addClass("single-page-wrap");</script>
}