
@{
    ViewData["Title"] = "SingleMusic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content-->
<div class="content">
    <div class="single-page-decor"></div>
    <div class="single-page-fixed-row">
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll Down</span>
        </div>
        <a href="index.html" class="single-page-fixed-row-link"><i class="fal fa-arrow-left"></i> <span>Back to home</span></a>
    </div>
    <!-- section-->
    <section class="parallax-section dark-bg sec-half parallax-sec-half-right" data-scrollax-parent="true">
        <div class="bg par-elem" data-bg="/images/bg/1.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
        <div class="overlay"></div>
        <div class="pattern-bg"></div>
        <div class="container">
            <div class="section-title">
                <h2>Music Album <span>Single</span>  <br> Title</h2>
                <p> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                <div class="horizonral-subtitle"><span>Audios</span></div>
            </div>
            <a href="#sec1" class="custom-scroll-link hero-start-link"><span>Let's Start</span> <i class="fal fa-long-arrow-down"></i></a>
        </div>
    </section>
    <!-- section end-->
    <!-- section end-->
    <section data-scrollax-parent="true" id="sec1">
        <div class="section-subtitle right-pos" data-scrollax="properties: { translateY: '-250px' }"><span>//</span>Project Title</div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="collage-image fl-wrap">
                        <div class="collage-image-title" data-scrollax="properties: { translateY: '150px' }">album title.</div>
                        <img src="/images/all/1.jpg" class="respimg" alt="">
                    </div>
                    <div class="pr-list mu-det fl-wrap">
                        <ul>
                            <li><span>Release Date :</span> 26.05.2018 </li>
                            <li><span>Number Of Track:</span>  12</li>
                            <li><span>Ganre :</span> Dubstep , Chillout</li>
                            <li><span>Produce By : </span>  <a href="#" target="_blank"> Audiojungle Entertainment </a></li>
                        </ul>
                    </div>
                    <div class="buy-album fl-wrap mar-top">
                        <span>Available on : </span>
                        <a href="#" target="_blank">Itunes</a>
                        <a href="#" target="_blank">Googleplay</a>
                        <a href="#" target="_blank">Audiojungle</a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="main-about fl-wrap">
                        <h5>In pellentesque viverra purus</h5>
                        <h2>Innovative solutions<br>to boost your creative projects</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
                        <!-- audio-player-wrap-->
                        <div class="audio-player-wrap fl-wrap mar-top">
                            <audio preload></audio>
                            <div class="volume-control">
                                <span id="vol-100" data-value='1'></span>
                                <span id="vol-70" data-value='2'></span>
                                <span id="vol-40" data-value='3'></span>
                                <span id="vol-0" data-value='4'></span>
                            </div>
                            <!-- audio-player-wrap end-->
                            <div class="playlist-wrap fl-wrap">
                                <ol data-listalbumtitle="Insurgency">
                                    <li class="playing">
                                        <a href="#" class="audio-link" data-srcaudio="../audio/1.mp3">Soon Will Be back (Dubstep Mix)</a><span class="album-list-title"></span>
                                        <a class="downbuy-link" href="#"><i class="fal fa-shopping-cart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="audio-link" data-srcaudio="../audio/1.mp3">For the love (Original Mix)</a><span class="album-list-title"></span>
                                        <a class="downbuy-link" href="#"><i class="fal fa-download"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="audio-link" data-srcaudio="../audio/1.mp3">Last Chance (Dubstep Mix)</a><span class="album-list-title"></span>
                                        <a class="downbuy-link" href="#"><i class="fal fa-shopping-cart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="audio-link" data-srcaudio="../audio/1.mp3">Soon Will Be back (Radio Edit)</a><span class="album-list-title"></span>
                                        <a class="downbuy-link" href="#"><i class="fal fa-shopping-cart"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="audio-link" data-srcaudio="../audio/1.mp3">Last Chance (Radio Edit)</a><span class="album-list-title"></span>
                                        <a class="downbuy-link" href="#"><i class="fal fa-download"></i></a>
                                    </li>
                                </ol>
                            </div>
                            <!-- audio-player-wrap end-->
                        </div>
                        <!-- audio-player-wrap end-->
                    </div>
                </div>
            </div>
            <!-- det box end-->
            <div class="content-nav mar-top">
                <ul>
                    <li><a href="portfolio-single9.html" class="ln"><i class="fal fa-arrow-left"></i><span class="tooltip">Prev - KENT BRANT CONCEPT</span></a></li>
                    <li>
                        <a href="portfolio7.html" class="cur-page"><span>All Albums</span></a>
                    </li>
                    <li><a href="portfolio-single9.html" class="rn"><i class="fal fa-arrow-right"></i><span class="tooltip">Next - BARBERSHOP WEBSITE </span></a></li>
                </ul>
            </div>
        </div>
        <div class="bg-parallax-module" data-position-top="50" data-position-left="20" data-scrollax="properties: { translateY: '-250px' }"></div>
        <div class="bg-parallax-module" data-position-top="40" data-position-left="70" data-scrollax="properties: { translateY: '150px' }"></div>
        <div class="bg-parallax-module" data-position-top="80" data-position-left="80" data-scrollax="properties: { translateY: '350px' }"></div>
        <div class="bg-parallax-module" data-position-top="95" data-position-left="40" data-scrollax="properties: { translateY: '-550px' }"></div>
        <div class="sec-lines"></div>
    </section>
    <!-- section end-->
    <!-- section-->
    <section class="dark-bg2 small-padding order-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Ready To order Your Project ?</h3>
                </div>
                <div class="col-md-4"><a href="/contact" class="btn flat-btn color-btn">Get In Touch</a> </div>
            </div>
        </div>
    </section>
    <!-- section end-->
</div>
<!-- Content end -->

@section Scripts {
    <script>$("#wrapper").addClass("single-page-wrap");</script>
}