
@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content-->
<div class="content">
    <div class="single-page-decor"></div>
    <div class="single-page-fixed-row">
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll Down</span>
        </div>
        <a href="index.html" class="single-page-fixed-row-link"><i class="fal fa-arrow-left"></i> <span>Back to home</span></a>
    </div>
    <!-- section-->
    <section class="parallax-section dark-bg sec-half parallax-sec-half-right" data-scrollax-parent="true">
        <div class="bg par-elem" data-bg="images/bg/2.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
        <div class="overlay"></div>
        <div class="pattern-bg"></div>
        <div class="container">
            <div class="section-title">
                <h2>Our <span>Awesome</span>  <br> ream</h2>
                <p> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                <div class="horizonral-subtitle"><span>Our team</span></div>
            </div>
            <a href="#sec1" class="custom-scroll-link hero-start-link"><span>Let's Start</span> <i class="fal fa-long-arrow-down"></i></a>
        </div>
    </section>
    <!-- section end-->
    <!-- section end-->
    <section data-scrollax-parent="true" id="sec1">
        <div class="section-subtitle right-pos" data-scrollax="properties: { translateY: '-250px' }"><span>//</span>Project Title</div>
        <div class="container">
            <!-- team-box   -->
            <div class="team-box">
                <div class="team-photo">
                    <div class="overlay"></div>
                    <a href="team-single.html">Details</a>
                    <img src="images/team/1.jpg" alt="" class="respimg">
                </div>
                <div class="team-info">
                    <h3>David Gray</h3>
                    <h4>Co-manager associated</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
                    <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- team-box end -->
            <!-- team-box   -->
            <div class="team-box">
                <div class="team-photo">
                    <div class="overlay"></div>
                    <a href="team-single.html">Details</a>
                    <img src="images/team/2.jpg" alt="" class="respimg">
                </div>
                <div class="team-info">
                    <h3>Martin Frenze</h3>
                    <h4>Co-manager associated</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
                    <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- team-box end -->
            <!-- team-box   -->
            <div class="team-box">
                <div class="team-photo">
                    <div class="overlay"></div>
                    <a href="team-single.html">Details</a>
                    <img src="images/team/3.jpg" alt="" class="respimg">
                </div>
                <div class="team-info">
                    <h3>Kevin Brunt</h3>
                    <h4>Co-manager associated</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
                    <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- team-box end -->
            <!-- team-box   -->
            <div class="team-box">
                <div class="team-photo">
                    <div class="overlay"></div>
                    <a href="team-single.html">Details</a>
                    <img src="images/team/4.jpg" alt="" class="respimg">
                </div>
                <div class="team-info">
                    <h3>Austin Evon</h3>
                    <h4>Co-manager associated</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
                    <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- team-box end -->
            <!-- team-box   -->
            <div class="team-box">
                <div class="team-photo">
                    <div class="overlay"></div>
                    <a href="team-single.html">Details</a>
                    <img src="images/team/5.jpg" alt="" class="respimg">
                </div>
                <div class="team-info">
                    <h3>Taylor Roberts</h3>
                    <h4>Co-manager associated</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
                    <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- team-box end -->
        </div>
        <div class="bg-parallax-module" data-position-top="50" data-position-left="20" data-scrollax="properties: { translateY: '-250px' }"></div>
        <div class="bg-parallax-module" data-position-top="40" data-position-left="70" data-scrollax="properties: { translateY: '150px' }"></div>
        <div class="bg-parallax-module" data-position-top="80" data-position-left="80" data-scrollax="properties: { translateY: '350px' }"></div>
        <div class="bg-parallax-module" data-position-top="95" data-position-left="40" data-scrollax="properties: { translateY: '-550px' }"></div>
        <div class="sec-lines"></div>
    </section>
    <!-- section end-->
    <!-- section-->
    <section class="dark-bg2 small-padding order-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Ready To order Your Project ?</h3>
                </div>
                <div class="col-md-4"><a href="/contact" class="btn flat-btn color-btn">Get In Touch</a> </div>
            </div>
        </div>
    </section>
    <!-- section end-->
</div>
<!-- Content end -->

@section Scripts {
    <script>$("#wrapper").addClass("single-page-wrap");</script>
}